//colors
$main-dark: #243848;
$main-color:#2E5789;
$light-grey-color: #ddd;
$section-color: #FDFDFD;
$light-blue :#09AECE;
$white_color: #fff;
$orange-color: #F99132;
$orange-color-light: #FFF2E3;
$purple-color: #8D1EE5;
$purple-color-light: #F2E7FD;
$grey-color: #6284A7;
$grey-color-light:  rgba(98, 132, 167, 0.07);
$blue-color: #1E88E5;
$blue-color-light:  #E3F5FF;
$green-color: #0FC859;
$green-color-light: #E3FFE6;
$green-color-hover: #309748;
$red-color: #FF3636;
$red-color-light: #fde7e7;
$red-color-dark: rgb(214, 25, 21);
$info-color:#369FFF;
$dark-grey:#6b7280;
//transition
$transition: 300ms;
