.app {
  position: relative;
  min-height: calc(100vh - 66px);
  overflow-x: hidden;
  display: flex;
  .sidebar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari and Opera */
    }
    height: 100%;
    width: 216px;
    z-index: 11;
    overflow-y: auto;
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.16);
    transition: $transition;
    position: absolute;
    right: 0;
    top: 0%;
    @include maxWidth(md) {
      right: -216px;
    }
    .tog-active {
      color: #9c9c9c;
      cursor: pointer;
      margin: 20px 15px 9px auto;
      font-size: 20px;
      display: block;
    }
    .list {
      padding: 0;
      margin: 0;
      overflow-y: auto;
      height: 100%;
      .list-item {
        white-space: nowrap;
        a {
          position: relative;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: #9c9c9c;
          font-size: 14px;
          padding: 11px 15px;
          gap: 7px;
          font-weight: 300;
          svg:not(.arrow),
          i:not(.arrow) {
            font-size: 20px;
            width: 20px;
            height: auto;
            text-shadow: none;
            margin-left: 15px;
          }
          .arrow {
            margin: 0;
            margin-right: 6px;
            font-size: 14px;
            font-weight: 300;
            transition: transform ease-in-out 0.3s;
          }
          &:not(.active):hover {
            cursor: pointer;
            color: $main-color;
          }
          .badge-count {
            position: absolute;
            background-color: #ed4e2a;
            top: 50%;
            left: 45px;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            min-width: 17px;
            height: 17px;
            font-size: 10px;
          }
          &[aria-expanded="true"] {
            .arrow {
              transform: rotate(90deg);
            }
          }
        }
        &.active a {
          color: $main-color;
          ::after {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 3px;
            border-radius: 50px;
            height: 70%;
            right: 3px;
            background-color: $main-color;
          }
        }
      }
      .item-collapse {
        margin-top: 4px;
        margin-right: 22px;
        list-style: none;
        position: relative;
        &::before {
          position: absolute;
          right: -7px;
          top: 0;
          border-radius: 10px;
          width: 3px;
          height: 100%;
          content: "";
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px;
          background-color: #9c9c9c;
        }
        .list-item {
          a {
            font-size: 14px;
            padding: 12px;
            height: unset !important;
            svg,
            i {
              font-size: 15px;
              width: 15px;
            }
            .badge-count {
              min-width: 20px;
              font-size: 12px;
              height: 20px;
              left: 32px;
            }
          }
        }
      }
    }
  }
  .main-side {
    width: calc(100% - 216px);
    margin: 0 auto 0 0;
    padding: 16px;
    overflow-y: auto;
    transition: $transition;
    @include maxWidth(md) {
      width: 100%;
    }
  }
  &.active .sidebar {
    width: calc(20px + 30px);
    @include maxWidth(md) {
      width: 216px;
      right: 0;
    }
    .list {
      transition: $transition;
      .list-item {
        overflow: hidden;
        a {
          .badge-count {
            display: none;
          }
        }
      }
    }
    // &:hover {
    //   width: 216px;
    //   .list {
    //     .list-item {
    //       overflow: unset;
    //     }
    //   }
    // }
  }
  &.active .main-side {
    width: calc(100% - 50px);
  }
}

.option-section .a_content {
  position: relative;
}

.option-section .a_content::before {
  content: "";
  position: absolute;
  transform: rotate(180deg);
  width: 6%;
  height: 45px;
  top: 23px;
  right: 4px;
  z-index: 1111;
  border: 1px dashed #999;
  visibility: visible;
  opacity: 1;
}
.option-section {
  display: flex;
  flex-direction: column;
}

.option-section .item {
  padding: 7px 10px;
  border-radius: 4px;
  color: #c2c7d0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  display: flex;
  gap: 10px;
  position: relative;
  font-size: 13px;
  align-items: center;
}
.option-section .item:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}
.option-section .collapse-border .item::before {
  content: "";
  position: absolute;
  right: -16px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  width: 16px;
  height: 1px;
  background-color: #c2c7d0;
}
.option-section .item .arrow-after {
  display: none;
}
.option-section .item[aria-expanded="true"] .arrow-before {
  display: none;
}
.option-section .item[aria-expanded="true"] .arrow-after {
  display: block;
}
.option-section .item .arrow-after,
.option-section .item .arrow-before {
  color: #c2c7d0;
  font-size: 14px;
}
.option-section .item .content-item {
  display: flex;

  gap: 10px;
  align-items: center;
}
.option-section .item .content-item i,
.option-section .item .content-item svg {
  color: #c2c7d0;
  font-size: 16px;
}
.option-section .collapse-border {
  position: relative;
}
.option-section .collapse-border::before {
  content: "";
  position: absolute;
  right: 13.5px;
  top: 0;
  height: calc(100% - 17px);
  width: 1px;
  background-color: #c2c7d0;
}
.option-section .mar-side {
  margin-right: 30px;
}

// ======================

.app-2 {
  position: relative;
  min-height: calc(100vh - 66px);
  overflow-x: hidden;
  // display: flex;
  .sidebar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari and Opera */
    }
    height: 100%;
    width: 216px;
    z-index: 11;
    overflow-y: auto;
    background: #fff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.16);
    transition: $transition;
    position: absolute;
    inset-inline-start: 0;
    top: 0%;
    @include maxWidth(md) {
      right: -216px;
    }
    .tog-active {
      color: #9b9b9b;
      cursor: pointer;
      margin: 20px 21px 9px auto;
      font-size: 20px;
      display: block;
    }
    .list {
      padding: 7px;
      margin: 0;
      overflow-y: auto;
      height: 100%;
      &.bottom-list {
        border-top: 1px solid #ddd;
        height: fit-content;
      }
      .list-item {
        white-space: nowrap;
        a {
          position: relative;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: #9e9e9e;
          font-size: 14px;
          padding: 11px 8px;
          gap: 7px;
          font-weight: 300;
          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: #2c6dc9;
            transition: 0.5s;
            scale: 0;
          }
          svg:not(.arrow),
          i,
          svg:not(.arrow) {
            font-size: 21px;
            width: 30px;
            text-shadow: none;
            color: #9e9e9e;
          }
          .arrow {
            margin: 0;
            margin-right: 6px;
            font-size: 14px;
            font-weight: 300;
            transition: transform ease-in-out 0.3s;
          }
          &:not(.active):hover {
            cursor: pointer;
            color: #2c6dc9;
            &::before {
              scale: 1;
            }
          }
          &[aria-expanded="true"] {
            .arrow {
              transform: rotate(90deg);
            }
          }
          > div {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 8px;
            flex: 1;
            .main-badge {
              margin-right: auto !important;
              background-color: #2c6dc9 !important;
              border: 0 !important;
            }
          }
        }
        &.active a {
          color: #2c6dc9;
          font-weight: 600;
          border-radius: 4px;
          background-color: rgba($color: #2c6dc9, $alpha: 0.2);
          svg:not(.arrow),
          i,
          svg:not(.arrow) {
            color: #2c6dc9;
          }
          // ::after {
          //     content: "";
          //     position: absolute;
          //     top: 50%;
          //     transform: translateY(-50%);
          //     width: 3px;
          //     border-radius: 50px;
          //     height: 70%;
          //     right: 6px;
          //     background-color: $white_color;
          // }
          &:hover {
            color: #2c6dc9;
          }
        }
      }
      .item-collapse {
        margin-top: 4px;
        margin-right: 22px;
        list-style: none;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          right: -7px;
          top: 0;
          border-radius: 10px;
          width: 3px;
          height: 100%;
          background-color: #9c9c9c;
        }
        .list-item {
          a {
            font-size: 14px;
            padding: 12px;
            height: unset !important;
            svg,
            i {
              font-size: 15px;
              width: 15px;
            }
          }
        }
      }
    }
  }
  .main-side {
    width: calc(100% - 216px);
    margin: 0 auto 0 0;
    padding: 16px 26px 35px 16px;
    overflow-y: auto;
    transition: $transition;
    min-height: calc(100vh - 120px);
    @include maxWidth(md) {
      width: 100%;
    }
  }
  &.active .sidebar {
    width: 58px;
    @include maxWidth(md) {
      width: 216px;
      right: 0;
    }
    .list {
      transition: $transition;
      .list-item {
        overflow: hidden;
        a {
          .main-badge {
            display: none;
          }
        }
      }
    }
    // &:hover {
    //   width: 216px;
    //   .list {
    //     .list-item {
    //       overflow: unset;
    //     }
    //   }
    // }
  }
  &.active .main-side {
    width: calc(100% - 50px);
  }
}
